<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="gr.medialab.mediaspecs">

    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission
        android:name="android.permission.FORCE_STOP_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.Manifest.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.FORCE_STOP_PACKAGES"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_vodafone1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_vodafone1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ScreenProtector"
            android:excludeFromRecents="true"
            android:keepScreenOn="true"/>
        <activity
            android:name=".VideoDownload"
            android:excludeFromRecents="true"
            android:keepScreenOn="true" />
        <activity
            android:name=".VideoDownload2"
            android:excludeFromRecents="true"
            android:keepScreenOn="true" />
        <activity
            android:name=".VideoDownload3"
            android:excludeFromRecents="true"
            android:keepScreenOn="true" />
        <activity
            android:name=".SecondScreenSaverActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ScreenSaverActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".PinActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:taskAffinity="" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".startOnBootReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.htc.intent.action.BOOT_COMPLETED" />
                <action android:name="com.huawei.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.QUICKBOOT_POWEROFF" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.huawei.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.REBOOT" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.USER_UNLOCKED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".ScreenStateReceiver"
            android:enabled="true"
            android:label="RestartServiceWhenStopped"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".HeartBeatBroadcastReceiver"
            android:enabled="true"
            android:label="RestartServiceWhenStopped"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".LiveDataServiceBroadcastReceiver"
            android:enabled="true"
            android:label="RestartServiceWhenStopped"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".FloatingBroadcastReceiver"
            android:enabled="true"
            android:label="RestartServiceWhenStopped" />
        <receiver
            android:name=".MyScheduledReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".ScreenSaverBroadcastReceiver"
            android:enabled="true"
            android:label="RestartServiceWhenStopped">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".SensorRestarterBroadcastReceiver"
            android:enabled="true"
            android:label="RestartServiceWhenStopped">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".DeviceAdmin"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>

            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />
        </receiver>

        <service
            android:name=".HeartBeat"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".LoginService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".ScreenSaver"
            android:enabled="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".SensorService"
            android:enabled="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".SensorService2"
            android:enabled="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".VideoCheck"
            android:enabled="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".VideoCheck2"
            android:enabled="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".FloatingWidgetService"
            android:enabled="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".LiveDataService"
            android:enabled="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".MyAccessibilityService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/my_accessibility_service" />
        </service>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>